<!-- app/views/text_inspections/results.html.erb -->
<h1>Original text: </h1>
<p> <%= @text %></p>
<h2>Total text words: <%= @word_count %></h2>
<h2>Total time to read the text: <%= @reading_time %> minutes</h2>
<h2>More frequent words are:
  <% @sorted_frequent_words.each do |word, value| %>
    <%= word + ": " + value.to_s + ", "  %>
  <% end %>
</h2>

<%= link_to 'back to home page','/' %>
